@import './constants.scss';

.features {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;
    position: relative;

    @include for-tablet-portrait-up {
        flex-wrap: wrap;
        flex-direction: row;
    }
}