.project {
    
}


.generaltrans-phone {
    &-container {
        overflow: hidden;
        height: 350px;
        width: fit-content;
    }

    position: relative;

    &__app {
        background-image: url("../../assets/generaltrans.jpg");
        transition: all .2s;
        background-position: 50% 55px;
        background-size: auto 520px;
        background-repeat: no-repeat;
        height: 546px;
        min-width: 320px;
    }

    &__frame {
        background-image: url("../../assets/phone-frame.png");
        position: absolute;
        top: 0;
        left: 0;
        background-position: 57% -32px;
        background-size: auto 670px;
        background-repeat: no-repeat;
        height: 586px;
        width: 386px;
    }
    transition: top .2s;
    top: 0;

    &:hover {
        top: -12px;
    }
}