@import "../../styles/constants.scss";

.why-me {
    padding: 5rem 1rem;

    &__item {
        margin: 20px;
    }

    @include for-tablet-portrait-up {
        background-color: #fafafa;
        border-top: 1px solid #f2f2f2;
    }

    .feature {
        &--r:hover svg {color: rgb(143, 0, 0);}
        &--g:hover svg {color: #a4c639;}
        &--b:hover svg {color: #006c8e;}
        &--y:hover svg {color: rgb(216, 148, 0);}


        &:active {
            background: #eee;
        }
    }
}